main {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/image/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    padding: 1rem 2rem 2rem 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 150px;
    position: absolute;
    inset: 4rem 6rem 4rem 6rem;
    border: .25rem white solid;
    border-radius: .5rem;
}

.title{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0 0 0 .625rem;
}

.post_list {
    border-bottom: 1px white solid;
    overflow: auto;
    max-height: 100%;
    margin: 0 0 2rem 0;
    padding: 0 0 .5rem 0;
}

.post_item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 200px;
    border: 4px solid white;
    border-radius: .5rem;
    width: calc(100% - 2rem);
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1rem;
    gap: 1rem;
}

.post_writer {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: white
}

.post_content {
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.wrapper_btn {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr;
    padding: 1rem;
    width: 100%;
    border: 4px white solid;
    background-color: rgba(255, 255, 255, 0.2);
    gap: .5rem;
}

.btn_write {
    padding: 0.8rem 2rem;
    border: .25rem solid white;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.btn_update {
    position: absolute;
    top: 1rem;
    right: 10rem;
    width: 100px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: bold;
}

.btn_delete {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 100px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: bold;
}

.wrapper_input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    margin-bottom: 5px;
}

.input_writer {
    padding: .5rem 0 .5rem 0;
    flex: 1;
    outline-color: gray;
    font-size: 1rem;
    padding-left: 1rem;
    width: 10%;
}

.input_text {
    flex: 4;
    outline-color: gray;
    font-size: 1rem;
    padding-left: 1rem;
    width: 100%;
}

#submit {
    font-size: 2rem;
}