@keyframes slidefade {
    0% {
        opacity: 0;
        margin-top: -100px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

* {
    box-sizing: border-box;
}

.modal-header {
    text-align: center;
    justify-content: center;
}

.modal-header img {
    max-width: 100%;
    height: auto;
}

.modal-body {
    text-align: left;
}

.modal-btm {
    display: flex;
    gap: 10px;
}

.modal-btm button {
    width: 100% 
}

a {
    text-decoration: none;
}

.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}

.modal-content {
    background-color: white;
    width: 500px;
    border-radius: 10px; 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    animation: slidefade 0.35s linear;
    font-size: 20px;
}

.modal-content img {
    display: block;
    margin: 20px auto;
}

.btn-close {
    color: #4e4f52; 
    font-size: 1em;
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal.active {
    display: block;
}

