header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: purple;
    gap: 2rem;
    height: 200px
}

header div {
    display: flex;
    width: 250px;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

header p {
    color: white;
    font-size: 3rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav li {
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 4rem 2rem 4rem;
    border: .25rem solid white;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav a {
    color: white
}

.nav li:hover {
    background-color: white;
}

.nav li:hover a {
    color: black;
}
