body {
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/dev-woohyeok/onamous/blob/main/image/background.png?raw=true');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "DungGeunMO";
}

@font-face {
    font-family: "DungGeunMO";
    src: url('/font/DungGeunMo.ttf');
}

main {
    position: relative;
    height: calc(100vh - 200px);
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: purple;
    gap: 2rem;
    height: 200px
}

header div {
    display: flex;
    width: 250px;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

header p {
    color: white;
    font-size: 3rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav li {
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 4rem 2rem 4rem;
    border: .25rem solid white;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav a {
    color: white
}

.nav li:hover {
    background-color: white;
}

.nav li:hover a {
    color: black;
}

.nes-container {
    width: 1300px;
    height: 800px;
    top: 5%;
    left: 25%;
}

.nes-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nes-balloon p {
    font-size: 27px;
    /* 박스 상자속 텍스트 애니메이션 liner:처음부터 끝까지 일정한 속도로 진행 */
    animation: slideup 12s linear;
    /* 애니메이션이 완료된 후 요소는 마지막 상태(opacity: 1, margin-top: 0)를 유지한다.*/
    animation-fill-mode: forwards;
}

/* 애니메이션의 단계별 동작을 정의하는 규칙  opacity: 투명도 0:투명,1:불투명*/
@keyframes slideup {
    0% {
        opacity: 0;
        /* 요소가 아래로 50px 떨어져 있다. */
        margin-top: 50px;
    }

    20% {
        opacity: 1;
        /* 요소가 위로 슬라이드되면서 제자리에 도달한다. */
        margin-top: 0;
    }

    80% {
        opacity: 1;
        /* 위치가 변하지 않고 유지된다. */
        margin-top: 0;
    }

    100% {
        opacity: 1;
        /* 위치가 변하지 않고 유지된다. */
        margin-top: 0;
    }
}