body {
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/dev-woohyeok/onamous/blob/main/image/background.png?raw=true');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    position: relative;
    height: calc(100vh - 200px);
}

.nes-container {
    width: 1800px;
    height: 1000px;
    top: 2%;
    left: 12%;
    border: none;
}

.nes-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nes-balloon {
    border: 4px solid white;
    margin: 30px;
    background-color: white;
}

.nes-balloon::after,
.nes-balloon::before {
    /* display: none; */
    position: absolute;
    content: "";
}


.nes-balloon p {
    font-size: 27px;
    color: black;
    padding: 0.7rem;
}

#team-intro {
    font-size: 27px;
    line-height: 1.5;
    color: black;
}

.hide {
    display: none;
}