main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAaVBMVEUAAAANDQ0fHx9FRUVPT09HR0clJSVlZWVaWlr29va+vr4REREqKipLS0vDw8OAgICoqKienp7V1dV6enpUVFRqamqIiIgyMjJeXl49PT3g4ODLy8u0tLSOjo7t7e0WFhb8/PyXl5c5OTl5sINtAAABl0lEQVR4nO3dSZabMBQFUIFxg13ujTtcqTj7X2SmGWSUwv5SuHcB8A5HOiAJ6acEADmYbJroCOEmy3V0BAD+Z6vuEh0h3LQ9R0cIV10/oiMAAAD81foWnSDc+t6Pfsw2vfez6AzhbqZwAACA/HR+awL4tsvjMzpCuObHZhWdIVp1nURHgBJt9Zy0nEcnKFdtOJN2rU60eH5FRwAAAACAfDnxJ6Xnq28w25vqb9pHdIR4p9HvGwLgRaroABloMtyauttHJwj3dei1zo8M2yYAAAAAOVmVvfG2e0y/f5Fr2Qvqj5/H6AjhpkczocDozI6L6Ajhjm1fR2eIdtrsLYjWGT6CSTf6b5Nq2W6jM4R7HsoeZwyhiuwKFy/KdOuiEwAAAHnKcDbl3Rb9y3f0DuP+ulp623ZZxjLxn+31Ouyl684BmW+2UB0ybQduxgBQor11xDR3zhIAw6o2qtCnpozJLqAo3Xn0FYbqQ+s3vPPO2Z38g7l2k2ZWpQEAgDdZjX6reUqffXSCeL9O0QkAADLhuygl9Qnh7X4DKV0JKBsvN+QAAAAASUVORK5CYII=');
    background-position: center;
}

@-webkit-keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        opacity: 0;
        filter: blur(40px);
    }

    100% {
        -webkit-transform: translateX(0) scaleX(1) scaleY(1);
        transform: translateX(0) scaleX(1) scaleY(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes slide-in-blurred-right {
    0% {
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        opacity: 0;
        filter: blur(40px);
    }

    100% {
        transform: translateX(0) scaleX(1) scaleY(1);
        opacity: 1;
        filter: blur(0);
    }
}

@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        opacity: 0;
        filter: blur(40px);
    }

    100% {
        -webkit-transform: translateX(0) scaleX(1) scaleY(1);
        transform: translateX(0) scaleX(1) scaleY(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes slide-in-blurred-left {
    0% {
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        opacity: 0;
        filter: blur(40px);
    }

    100% {
        transform: translateX(0) scaleX(1) scaleY(1);
        opacity: 1;
        filter: blur(0);
    }
}

.slide-left {
    -webkit-animation: slide-in-blurred-left 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-right {
    -webkit-animation: slide-in-blurred-right 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-right 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

#intro-message {
    display: inline;
}

.intro {
    display: flex;
    align-items: center;
}

.message-list {
    display: block;
    height: 100%;
    border: 4px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: .5rem;
    flex-direction: column;
    justify-content: center;
}

.message-left {
    display: flex;
    justify-content: flex-start;
}

.message-right {
    display: flex;
    justify-content: flex-end;
}

.nes-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nes-balloon {
    border: 4px solid white;
    margin: 5px 5px 10px 5px;
    padding: 1rem 1.5rem !important;
    background-color: white;
}

.nes-balloon::after,
.nes-balloon::before {
    /* display: none; */
    position: absolute;
    content: "";
}


.nes-balloon p {
    font-size: 20px;
    color: black;
    padding: 0.3rem;
    font-weight: bold;
}

.hide {
    display: none;
}

.nes-container {
    display: grid;
    height: 100%;
    gap: 2rem;
    padding: 2rem 10%;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
}