/* 공통 스타일 */
*{
    box-sizing: border-box;
    /* 박스의 사이즈 관리 프로퍼티 / 디폴트는 컨텐트박스 */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url('https://pbs.twimg.com/media/EiYSpYGUMAAa9K6?format=jpg&name=large');
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h1 a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#image-preview{
    width: 100px;
    height: 100px;
    margin-top: 10px; 
    border-radius: 50px;
    margin: 10px;
}

/* 필드셋 및 레전드 */
legend.header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* 이미지 업로드 */
div > label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="file"] {
    display: block;
    margin-bottom: 20px;
}

/* 정보 입력 */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul span {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li.show_name {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

/* 자기소개 */
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    
}

/* 버튼 */
button#signup_btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

button#signup_btn:hover {
    background-color: #555;
}